body {
    
    font-family:Poppins, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #fff;
    
}


.sonylogo{
    display: flex;
    justify-content: center;
    margin-top: 4px;
}


.sonyimg{
    width:40px;
}


/* Sticky Navbar */
#topofpage {
    position: sticky;
    top: 30px;
    z-index: 1000;
    margin-left: 30px;    /* Adds 30px margin on the left */
    margin-right: 30px;   /* Adds 30px margin on the right */
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #E7E9F2;
    opacity: .85;
    
}


.pslogo {
    width: 100px;
    margin-left: 10px;
    margin-top: 3px;
    text-align: left;
    justify-content: center;
}

.pslogoimg {
  width:36px;
}

.nav{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.icon-nav {
    
    margin-right: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu{
    display: none;
}



.search_icon {
  display: inline-block;
  margin-right: 30px;
}

.search_img {
  width:20px;
  height: auto;
}



a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  margin-left:25px;
  margin-right:25px;

}

a:hover{
   color: #2D75C7;
}




#menuoverlay{
    display: inline-block;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 移动到屏幕的正中 */
    z-index: 1001;
    border-radius: 6px;
    width:95vw;
    height: 97vh;
    display: none;
    text-align: left;
    opacity: .9;
  }
.menuitems{
    margin-top: 30px;
}
.menuitems a {
    font-size: 36px;
    font-weight: 500;
    margin-left: 30px;
    padding-top: 20px;
    color:black;
    cursor: pointer;
  }

.menuitems a:hover{
   color: #2D75C7;
}

#close{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 60px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
  .nav, .icon-nav{
    display: none;
  }

  #menu{
    display: inline-block;
    margin-right: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


  .topofpage {

    margin-left: 3.9%;
    margin-right: 3.9%;
    }

    
}

.blue-block {
    background: linear-gradient(to right, #164BB7, #010A30); /* Deep blue gradient */
    height: 720px; /* Adjust height as needed */
    width: 100vw; /* Full screen width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -85px;
    padding: 0 30px;
    padding-top: 70px;
}


.hero_text_headline{
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
.hero_content {
    color: white;
    font-weight: 200;
    font-size: 18px; /* Adjust text size */
}

.psconsoleimage {
    width: 60%; /* Adjust image height */
    max-width: 600px;
    padding-right: 30px;
}


.component {

    width: 100%;
    background-color: #E7E9F2;
    text-align: center;
}


.component-image {
    display: block;
    max-width: 100%; /* Ensures the image fits within the component */
}

.component img{
  cursor: pointer;

}

.component img:hover{
  animation-fill-mode: forwards;
  animation-name: changescale;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
 
}

@keyframes changescale{
    from {transform: scale(1,1)}
    to {transform: scale(1.08,1.08)}
}

.component-head {
    padding: 20px;
    padding-right: 0;
    padding-left: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color:black;
 }   

.component-text {
    padding: 20px;
    padding-top: 0;
    font-size: 14px;
    color:black;
}